@use "variables" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        sans-serif;
    background: $rt-body-bg;
    color: $rt-text-color;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}